<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.obsez.android.lib.filechooser">

    <application android:allowBackup="true">
        <activity
            android:name="com.obsez.android.lib.filechooser.permissions.PermissionActivity"
            android:label=""
            android:theme="@style/Theme.Transparent"/>
    </application>

</manifest>
